<!DOCTYPE html> 
<html data-ng-app="">
    <head>
        <title>Angular Tutorial</title>
    </head>
    <body data-ng-init="customers=[{name:'John smith',city:'jines'},{name:'jemmy Lan', city:'Newyork'}]">
        name:
        <br>
        <input type ="text" data-ng-model="name"/> <!--now we  are going to do the databinding-->
        {{ name }}
        <ul>
            <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">{{ cust.name  | uppercase}} - {{cust.city}}</li>
        </ul>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    </body>

</html>
<!--23.09 paused ok krishna -->